# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [2]:
# Import sqlite3 and pandas.
import pandas as pd
import sqlite3 as sl

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [3]:
# Create a new database called exercises.db.
con = sl.connect('exercises1.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [4]:
# Create a new table in your database.

    
with con:
    con.execute("""
    create table favorite_books(
        title TEXT,
        author TEXT,
        description TEXT
        );
    
   """ )

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [5]:
# Add your 3 favorite books to your table.

sql = 'insert into favorite_books(title, author, description) values(?,?,?)'
data = [
    ('a','me','craetive'),
    ('b', 'mom','energetic'),
    ('c', 'dad', 'thoughtful')
    
]

with con:
    con.executemany(sql,data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [6]:
# Write your SELECT query here.

with con:
    data = con.execute("select * from favorite_books")
    for row in data:
        print(row)

('a', 'me', 'craetive')
('b', 'mom', 'energetic')
('c', 'dad', 'thoughtful')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [11]:
# Use Pandas to make a new table in your database.

df_skill1 = pd.DataFrame({
    'user_id': [1,1,2,2,3,3,3],
    'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']
})


df_skill1.to_sql ('SKILL1', con)

df_skill1

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        3                 Python
5        3           Data Science
6        3       Machine Learning